[package]
name = "svg2pdf"
version = "0.1.0"
authors = ["Martin Haug <mhaug@live.de>"]
edition = "2021"
description = "Convert SVG files to PDFs."
repository = "https://github.com/typst/svg2pdf"
readme = "README.md"
license = "MIT OR Apache-2.0"
categories = ["encoding", "graphics", "multimedia"]
keywords = ["svg", "pdf", "vector-graphics", "conversion"]

[features]
default = ["png", "jpeg", "text"]
png = ["image/png"]
jpeg = ["image/jpeg"]

[dependencies]
miniz_oxide = "0.4"
pdf-writer = "0.4.1"
usvg = { version = "0.20", default-features = false }
image = { version = "0.23", default-features = false, optional = true }
