[package]
name = "svg2pdf"
version = "0.1.0"
edition = "2018"
license = "MIT OR Apache-2.0"

[features]
default = ["png", "jpeg", "text", "system-fonts"]
png = ["image/png"]
jpeg = ["image/jpeg"]
text = ["usvg/text"]
system-fonts = ["usvg/system-fonts", "usvg/memmap-fonts"]

[dependencies]
image = { version = "0.23", default-features = false, optional = true }
miniz_oxide = "0.4"
pdf-writer = { git = "https://github.com/typst/pdf-writer", rev = "141aa01" }
usvg = { version = "0.19", default-features = false }
