[package]
name = "svg2pdf"
version = "0.3.0"
authors = ["Martin Haug <mhaug@live.de>"]
edition = "2021"
description = "Convert SVG files to PDFs."
repository = "https://github.com/typst/svg2pdf"
readme = "README.md"
license = "MIT OR Apache-2.0"
categories = ["encoding", "graphics", "multimedia"]
keywords = ["svg", "pdf", "vector-graphics", "conversion"]

[features]
default = ["png", "jpeg", "gif"]
png = ["image/png"]
jpeg = ["image/jpeg"]
gif = ["image/gif"]
cli = ["clap", "termcolor", "usvg/text", "fontdb"]

[dependencies]
miniz_oxide = "0.4"
pdf-writer = "0.4.1"
usvg = { version = "0.22", default-features = false }
clap = { version = "3", features = ["derive"], optional = true }
fontdb = { version = "0.9", optional = true }
image = { version = "0.24", default-features = false, optional = true }
termcolor = { version = "1", optional = true }

[[bin]]
name = "svg2pdf"
required-features = ["cli"]
